{% extends 'base.html.twig' %}

{% block body %}
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">SymShort</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">Home</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    {%  if app.session.flashBag.peek('link') %}
                        <h1 class="cover-heading">Your shortlink:</h1>
                    {% endif %}
                    {% for flash_message in app.session.flashBag.get('link') %}
                        <code>{{ flash_message }}</code>
                    {% endfor %}

                    {{ form_start(form) }}
                    <h1 class="cover-heading">{{ form_label(form.url, 'Enter you URL:') }}</h1>

                    <div class="form-group">
                        {{ form_widget(form.url, {'attr': {'size': '80'}}) }}
                        {{ form_errors(form.url) }}
                    </div>
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
                    {{ form_end(form) }}
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Developed by <a href="https://github.com/antls">Anton Serbulenko</a>.</p>
                        <p>Fork me on <a href="https://github.com/antls/symshort">GitHub</a>.</p>
                        <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
